doctype html
html
  head
    title Dynamic Form
    script(type='text/javascript', src='./bower_components/angular/angular.min.js')
    script(type='text/javascript', src='./bower_components/objectpath/lib/ObjectPath.js')
    script(type='text/javascript', src='./bower_components/angular-schema-form/dist/schema-form.js')
    script(type='text/javascript', src='./bower_components/angular-schema-form/dist/bootstrap-decorator.min.js')
    script(type='text/javascript', src='./js/application.js')
body
  .page(ng-app="formapp")
    h1 Type
    dynamic-form
